<%@your_plofile.each do |plofile|%>
    <img src="./plofile_img/<%=plofile['plofile_img']%>" style="height: 150px; width: 150px; border-radius: 50%;">
    <h3><a href="/show_your_plofile">User:<%= plofile['user_name'] %></a></h3>