<form action="/signup/<%= @user_id %>" method="POST" enctype="multipart/form-data">
  <span>
    <span>File</span>
    <input type="file" name="plofile_img" values="plofile_img" require>
  </span>
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="user_name" id="user_name" placeholder="User Name">

  <input type="submit" value="Submit!">
</form>