
<form action="/signup1" method="POST" class="form_wrapper">
  <div class="form">
    <div class="form_item">
        <input type="email" name="email" id="email" placeholder="E-mail">
    </div>
    <br>
    <div class="form_item">
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <br>
    <div class="br_space"></div>
    <input type="submit" value="Submit!">
  </div>
</form>