<form action="/signup1" method="POST">

  <label for="email">E-mail</label>
  <input type="email" name="email" id="email" placeholder="E-mail">

  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Password">

  <input type="submit" value="Submit!">
</form>