<div class="form">
  <form action="/signup1" method="POST" c>
    
      <div class="form_item">
          <input type="email" name="email" id="email" placeholder="E-mail" class="form_size">
      </div>
      <br>
      <div class="form_item">
        <input type="password" name="password" id="password" placeholder="Password" class="form_size">
      </div>
      <br>
      <div class="br_space"></div>
      <input type="submit" value="Submit!">
    
  </form>
</div>