<form action="/signup1" method="POST">

  <input type="email" name="email" id="email" placeholder="E-mail">
  <br class="br_space">
  <input type="password" name="password" id="password" placeholder="Password">

  <input type="submit" value="Submit!">
</form>