<div class="form">  
  <form action="/signup/<%= @user_id %>" method="POST" enctype="multipart/form-data" class="form_wrapper">
      <span>File</span>
      <input type="file" name="plofile_img" values="plofile_img" require class="form_size">
    </span>
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="user_name" id="user_name" placeholder="User Name" class="form_size">

    <input type="submit" value="Submit!">
  </form>

</div>
