.select_menu_wrapper {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 50%;
}

.select_menu_wrapper .select_menu_right {
    margin: 20% 15% 30% 40%;
    border: 0.5px solid #78909C;
    margin: 0 auto;
    padding: 15%;
}

.select_menu_wrapper .select_menu_right .menu_title {
    color: #FF80AB;
    font-family: 'Righteous', cursive;
    font-size: 25px;
}

.liked {
    color: red;
}

.br_space {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form_wrapper {
    margin: 0 auto;

}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

header,footer{
    background-color: #03A9F4;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.select_menu{
    display: flex;
    justify-content: space-around;
}

.icon{
    font-size:22px;
}

.icon:hover{
    font-size: 25px;
}

/* timeline.erb */
.post_wrappeer{
    margin: 0 atuo;
    text-align: center;
}

.post{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    margin: 10px;
}

.liked_wrapper{
    display: flex;
    justify-content:flex-start;
    margin: 10px 80px;
}
