.select_menu_wrapper {
    margin: 0 auto;
    text-align: center;
    border : .select_menu_left {
        margin: 0 auto;
        .menu_title {
            color: #FF80AB;
            font-family: 'Righteous', cursive;
        }
    }
}